body {background-color: #777}
body {width: 960px}

section {width: 495px}

p {font-size: 18px}
p {font-family: "Helvetica Neue"}

#hh 
  {background: #ebebeb;
text-align: center;
padding: 10%, 10% }



#nav 
{background: #ebebeb;
text-align: center;
padding: 10px
}


#section 
{background: #ebebeb;
text-align: center;
}


#h1 
{background: #ebebeb;
text-align: center;
}

#pp 
{background: #ebebeb;
text-align: center;
}


#a1
{
text-align: center;
}


#aa 
{background: #ebebeb;
text-align: center;
}

#f 
{background: #ebebeb;
text-align: center;
}