

/* help */

* {box-sizing: border-box;}

body 
{background-color: #777;
	width: 960px}

<div> {margin: 5px}



p {}
{font-size: 18px}
{font-family: "Helvetica Neue"}

 


.header
{background: #ebebeb;
text-align: center;
height: 20px;
width: 960px;
margin: 5px;
padding-top: 
}



.nav 
{ background: #ebebeb;
  text-align: center;
  width: 960px;
  margin: 5px;
  float}



/*  -----------------------------  */
.leftbox{width: 480px;
}

p.clear {
    clear: both;
}
.section
{ background: #ebebeb;
 text-align: center;
 margin: 5px,
 auto;
 float: left;
 }


			#article

				{text-align: center;
			      margin: auto;
			      background: #777;
			      float: left;
			      position: relative;
			     }

			
			.h1
				{background: #ebebeb;
 				 text-align: center;
 				 

 				}


			.pbox
				{background: #ebebeb;	
				text-align: center;
				
			
  				} 


p.clear {
    clear: both;
}

/*  -----------------------------  */

.aside
 {background: #ebebeb;	
  text-align: center;
  	width: 480px;
  	margin: 5px, auto;
  	float: left
  	}

p.clear {
    clear: both;
}

/*  -----------------------------  */


.footer
{background: #ebebeb;
text-align: center;
margin: 5px;
width: 960px;
float: left;


}