

/* help */

* {box-sizing: border-box;}

body 
{background-color: #777;
	width: 960px}

<div> {margin: 15px}



p {}
{font-size: 18px}
{font-family: "Helvetica Neue"}

 


.header
{background: #ebebeb;
text-align: center;
height: 20px;
width: 960px;

}



.nav 
{ background: #ebebeb;
  text-align: center;
  width: 960px;
  float}



/*  -----------------------------  */
.section
{ background: #ebebeb;
 text-align: center;
 width: 480px;
 float: left;
}

p.clear {
    clear: both;
}


			.article

				{background color: #777;
			      text-align: center;
			     }
p.clear {
    clear: both;
}
			
			.h1
				{background: #ebebeb;
 				 text-align: center;
 				}
p.clear {
    clear: both;
}

			.p
				{background: #ebebeb;	
				text-align: center;
  				} 

/*  -----------------------------  */

.aside
 {background: #ebebeb;	
  text-align: center;
  	width: 480px;
  	float: left;
  	}


/*  -----------------------------  */


.footer
{background: #ebebeb;
text-align: center;
width: 960px;

}