

/* help */

body {background-color: #777}

body {width: 960px}

section {width: 495px}


p {font-size: 18px}
p {font-family: "Helvetica Neue"}


.main 


.maincontent 



.header
{background: #ebebeb;
text-align: center;
}



.nav 
{ background: #ebebeb;
  text-align: center;
  float}



.section
{ background: #ebebeb;
 text-align: center;
}


.article
{ background: #ebebeb;
 text-align: center;
}

.h1
{background: #ebebeb;
 text-align: center;
 	}


.p
{background: #ebebeb;	
text-align: center;
  } 


.aside
 {background: #ebebeb;	
  text-align: center;
  	}


.footer
{background: #ebebeb;
text-align: center;

}